<div class="container">
  <div class="row">
    <div class="col-xs-12">
		<button class="btn btn-primary" (click)="showHideP($event)"> {{ btnText }} </button>
		<p *ngIf="showP"> 
			Super secret password: P@ssword
		</p>
		<div *ngIf="showP">
			<div *ngFor="let elm of numberOfClicks">
				<div>
					 <div *ngIf="elm >= 4; else elseBlock">
					 	<p [ngStyle]="{backgroundColor: getBlue()}" [ngClass]="{textColor: clicks >= 4 }">
					 		{{ elm }}
					 	</p>
					</div>
					 <ng-template #elseBlock>
					 	<p [ngStyle]="{backgroundColor: getWhite()}">
					 		{{ elm }}
					 	</p>
					 </ng-template>
				</div>
			</div>
	    </div>
	</div>
</div>